#wc_wrapper{
    width:550px;
    height:550px;
    position:absolute;
    /* border:1px solid red; */
    text-align: center;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;

}

#weekly_chores{
    left: 50%;
    margin-top: 25px;
}

#mc_wrapper{
   /* border:2px solid blue; */
   width:550px;
   height:550px;
   position: relative;
   top: 571px;
   text-align: center;
   border-left: 1px solid silver;

}

#monthly_chores{
    left: 50%;
    margin-top: 25px;
}

body {
    background-color:  #FDF8E2;
}


#totask_weekly_wrapper{
    width:550px;
    height:550px;
    position:absolute;
    /* border:1px solid red; */
    text-align: center;
    left: 550px;
    top: 10px;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;

}


#totask_monthly_wrapper{
    /* border:2px solid blue; */
    width:550px;
    height:550px;
    position: relative;
    /* top: 571px; */
    left: 550px;
    text-align: center;
 }

 #tswk_wrapper{
    /* border:2px solid blue; */
    width:550px;
    height:1100px;
    position: relative;
    left: 1100px;
    text-align: center;
 }
